.pages_container{
    position: fixed;
    text-align: center;
    top: 5.5rem;
    width: 100vw;
    max-width: 1200px;
    z-index: 12;
}

.ul_container{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.boton_paginado{
    display: inline;
    list-style: none;
    width: 8vw;
    height: 28px;
    background-color: #34495Ec9;
}

.btn_primary{
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #07415ec9;
    color: #bbd7fa;
}

.btn_primary:hover{
    background-color: #14658d;
    color: #94bced;
    box-shadow: 2px 2px 2px #07415e;
    cursor: pointer;

}

.btn_primary:focus{
    background-color: #055f8b;
    color: #6598d6;

}