
.activity_card_container{
    margin: 1vw 1vw 1vw 1vw;    
    padding: .5rem .5rem .5rem .5rem;
    width: 12vw;
    height: 16vw;
    background: #095379;
    background: linear-gradient(180deg, rgba(9,83,121,0.927608543417367) 0%, rgba(41,141,193,1) 44%, rgba(9,83,121,0.8827906162464986) 100%);
    text-align: center;
    border: 3px solid #032d42c8;
    border-radius: 20px;
    box-shadow: 5px 5px 4px #032d42c8;
}


.activity_card_container:hover{
    background: #095379;
    background: linear-gradient(90deg, #0c6c9ced 0%, #32a3e0 44%, #0c6c9ced 100%);
    box-shadow: 8px 8px 6px #074767c8;
    border: 5px solid #0a5174c8;
}

.activity_heder{
    width: 100%;
    height: 50%;
    overflow: hidden;    
    border-radius: 20px;
}

.activity_image_card{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
}

.activity_text{
    color: #bbd7fa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.activity_inside{
    margin-top: .5rem;
    text-shadow: 2px 2px 2px #032d42c8;        
}

#activity_name{
    font-size: 1vw;
    text-align: center;
}

#difficulty{
    font-size: .8vw;
}

#duration{
    font-size: .8vw;
}

#season{
    font-size: .8vw;
}